// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.border {
border-top: 2px solid #888;
margin-left: -5px;
align: center;
padding:30px;
}
#searchfield {
display: block;

margin-left:30px;
line-height:1.5em;


}

#searchfield2 {
display: block;
margin-left:40px;
line-height:1.5em;

}
#searchfield p{
    font-size: 16px;
}

#searchfield2 p{
    font-size: 16px;
}



#image {
margin-right: 30px;
float: right !important;
}
#image img {
box-shadow: 5px 5px 5px #888 !important;
position: relative;

margin-right: 20px;
margin-top: 10px;
margin-bottom: 10px;
-webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
}


h3 a {
color: #000;
}

#filter-search {
    display:none;
    margin-bottom: 30px;

}